<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data Dashboard</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include Tabulator CSS from CDN -->
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">

    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

    <style>
        #gainers-table, #active-table, #news_table {
            width: 100%;
        }

        .chart-container {
            width: 100%;
            height: 300px; /* Fixed height for testing */
        }
    </style>
</head>
<body class="bg-gray-400 text-gray-100 font-sans antialiased">
    <main class="p-2 flex h-screen">
        <section class="w-1/4">
            <!-- Gainers Table -->
            <div id="gainers-table" class="mb-2"></div>
            <!-- Active Stocks Table -->
            <div id="active-table" class="mb-2"></div>
            <!-- News Section -->
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg space-y-6 max-h-96 overflow-y-auto max-w-400" id="news_table">
                <h3 class="text-2xl font-semibold mb-4 text-gray-100" id="news_title">News</h3>
                <ul id="news-container" class="list-disc pl-5 text-gray-300">
                    <!-- News items will be inserted here -->
                </ul>
            </div>
        </section>
        <section class="w-3/4 grid grid-cols-2 grid-rows-2 gap-4 ml-2 mr-2">
            
            <div id="chart1" class="chart-container p-2">
                <h3>1 minute interval</h3>
                <!-- 5-minute interval chart -->
            </div>
            <div id="chart2" class="chart-container p-2">
                <h3>1 day interval</h3>
                <!-- 1-minute interval chart -->
            </div>
            <div id="chart3" class="chart-container p-2">
                <h3>5 minute interval</h3>
                <!-- 1-day interval chart -->
            </div>
            <div id="chart4" class="chart-container p-2">
                <h3>10 second interval</h3>
                <!-- 10-second interval chart -->
            </div>
        </section>
    </main>

    <!-- Include Tabulator JS from CDN -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script>
        class CandlestickChart {
    constructor(containerId, interval) {
        this.containerId = containerId;
        this.interval = interval; // Interval (1min, 5min, 1hour, 1day)
        this.chart = null;
        this.candlestickSeries = null;
        console.log("ContainerId", containerId, "Interval", interval);
    }

    async fetchData(ticker) {
        try {
            console.log("Fetching data for ticker", ticker, "and interval", this.interval);
            const response = await fetch(`/get_ticker_data/${this.interval}/${ticker}`);
            console.log("Response in fetchData", response);
            if (!response.ok) {
                console.error('Error fetching data:', response.statusText);
                return [];
            }
            const data = await response.json();
            console.log("Data for fetchData", data);
            return data || []; // Adjust the key if needed
        } catch (error) {
            console.error('Error fetching data:', error);
            return [];
        }
    }

    mapDataToChartFormat(dataValues) {
        return dataValues.map(item => {
            const date = new Date(item.datetime + ' UTC');
            const timestampInSeconds = Math.floor(date.getTime() / 1000);

            return {
                time: timestampInSeconds, 
                open: parseFloat(item.open),
                high: parseFloat(item.high),
                low: parseFloat(item.low),
                close: parseFloat(item.close),
            };
        }).reverse(); 
    }

    createChart() {
        this.chart = LightweightCharts.createChart(document.getElementById(this.containerId), {
            width: document.getElementById(this.containerId).offsetWidth,
            height: document.getElementById(this.containerId).offsetHeight,
            timeScale: {
                timeVisible: true,
                secondsVisible: true,
            },
            crosshair: {
                mode: LightweightCharts.CrosshairMode.Normal,
            },
        });

        this.candlestickSeries = this.chart.addCandlestickSeries();
    }

    async loadDataAndCreateChart(ticker) {
        console.log("loaddataandcreatechart", ticker);
        const dataValues = await this.fetchData(ticker);
        console.log("DataValues for ticker", dataValues);
        if (dataValues.length === 0) {
            console.error('No valid data to display.');
            return;
        }
        const candlestickData = this.mapDataToChartFormat(dataValues);
        console.log("CandlestickData", candlestickData);

        if (candlestickData.length === 0) {
            console.error('No valid data to display.');
            return;
        }

        if (!this.chart) {
            this.createChart();
        }

        this.candlestickSeries.setData(candlestickData);
    }
    }


        const chartInstances = {};
        let selectedTicker = 'TSLA'; // Default ticker

        // Initialize the chart globally
        const chart = new CandlestickChart('chart1', '1min');
        chartInstances['1min'] = chart;

            // Function to load data and create the chart
        function loadInitialChart() {
            chart.loadDataAndCreateChart(selectedTicker);  // Load initial chart with default ticker
        }

        document.addEventListener("DOMContentLoaded", function() {
            const gainersData = {{ gainers | tojson | safe }};
            const activeData = {{ active | tojson | safe }};

            loadInitialChart();  // Load the chart once the DOM is ready

            
            // Initialize Gainers table
            new Tabulator("#gainers-table", {
                layout: "fitColumns",
                columns: [
                    { title: "Symbol", field: "symbol" },
                    { title: "Name", field: "name" },
                    { title: "Change", field: "change" },
                    { title: "Price", field: "price" },
                    { title: "% C", field: "changesPercentage", formatter: (cell, formatterParams, onRendered) => {
                        let row = cell.getRow();
                        let pc = cell.getValue();
                        row.getElement().style.color = "darkgreen";
                        return pc;
                    }},
                ],
                data: gainersData,
            }).on("rowClick", function(e, row) {
                selectedTicker = row.getData().symbol;
                chart.loadDataAndCreateChart(selectedTicker);
                get_news(selectedTicker);
            });

            // Initialize Active Stocks table
            new Tabulator("#active-table", {
                layout: "fitColumns",
                width: 400,
                columns: [
                    { title: "Symbol", field: "symbol" },
                    { title: "Name", field: "name" },
                    { title: "Price", field: "price" },
                    { title: "Change", field: "change" },
                    { title: "% C", field: "changesPercentage", formatter: (cell, formatterParams, onRendered) => {
                        let row = cell.getRow();
                        let pc = cell.getValue();
                        row.getElement().style.color = "darkgreen";
                        return pc;
                    }},
                ],
                data: activeData,
            }).on("rowClick", function(e, row) {
                selectedTicker = row.getData().symbol;
                chart.loadDataAndCreateChart(selectedTicker);
                get_news(selectedTicker);
            });
        });

        async function get_news(ticker){
            const response = await fetch(`/news/${ticker}`);
            const data = await response.json();

            const newsContainer = document.getElementById('news-container');
            newsContainer.innerHTML = '';
            const newsTitle = document.getElementById('news_title');
            newsTitle.innerHTML = `${ticker} News`;

            if (data.length === 0) {
                newsContainer.innerHTML = '<li class="mb-4">No news available</li>';
                return;
            }

            data.forEach(news_item => {
                const listItem = document.createElement('li');
                listItem.classList.add('mb-4');
                const link = document.createElement('a');
                link.href = news_item.url;
                link.target = '_blank';
                link.classList.add('text-blue-400', 'hover:underline');
                link.textContent = news_item.title;
                const summary = document.createElement('p');
                summary.classList.add('mt-1');
                summary.textContent = news_item.summary;
                listItem.appendChild(link);
                listItem.appendChild(summary);
                newsContainer.appendChild(listItem);
            });
        }


        // chart
        document.addEventListener('DOMContentLoaded', () => {
    // Define intervals in milliseconds
    const intervals = {
        '1min': 60000,      // 1 minute
        // '5min': 300000,     // 5 minutes
        // '1hour': 3600000,   // 1 hour
        // '1day': 86400000    // 1 day
    };



    // Create and load charts for different intervals
    Object.keys(intervals).forEach(interval => {

        if (!chartInstances[interval]) {
                const chart = new CandlestickChart(`chart${interval === '1min' ? 1 : interval === '5min' ? 2 : interval === '1hour' ? 3 : 4}`, interval);
                chartInstances[interval] = chart;
            }
        // chart.loadDataAndCreateChart();

        // Set interval to fetch data every X milliseconds based on the interval
        setInterval(() => {
            // Assuming `selectedTicker` is a global variab le or comes from user input
            console.log("SelectedTicker", selectedTicker);
            const ticker = 'TSLA'; // Default to AAPL if not specified
            console.log("Ticker", ticker, "Interval", interval, "and calling the loadDataAndCreateChart");
            chart.loadDataAndCreateChart(selectedTicker);
        }, intervals[interval]);
    });
});



        </script>

<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<!-- <script>
  class CandlestickChart {
    constructor(containerId, interval) {
        this.containerId = containerId;
        this.interval = interval; // Interval (1min, 5min, 1hour, 1day)
        this.chart = null;
        this.candlestickSeries = null;
    }

    async fetchData(ticker) {
        try {
            const response = await fetch(`/static/${this.interval}.json`);
            console.log("name ", `/static/${this.interval}.json`);
            if (!response.ok) {
                console.error('Error fetching data:', response.statusText);
                return [];
            }
            const data = await response.json();
            console.log("Data", data);
            console.log("Data.TSLA", data.values);
            return data.values; // Adjust the key if needed
        } catch (error) {
            console.error('Error fetching data:', error);
            return [];
        }
    }

    mapDataToChartFormat(dataValues) {
        return dataValues.map(item => {
            // Create a Date object from the datetime string with 'UTC' timezone
            const date = new Date(item.datetime + ' UTC');

            // Convert to Unix timestamp in seconds
            const timestampInSeconds = Math.floor(date.getTime() / 1000);

            return {
                time: timestampInSeconds, // Use the Unix timestamp
                open: parseFloat(item.open),
                high: parseFloat(item.high),
                low: parseFloat(item.low),
                close: parseFloat(item.close),
            };
        }).reverse(); // Reverse the array to place the latest data at the end
    }

    createChart() {
        this.chart = LightweightCharts.createChart(document.getElementById(this.containerId), {
            width: document.getElementById(this.containerId).offsetWidth,
            height: document.getElementById(this.containerId).offsetHeight,
            timeScale: {
                timeVisible: true,
                secondsVisible: true,
            },
            crosshair: {
                mode: LightweightCharts.CrosshairMode.Normal,
            },
        });

        this.candlestickSeries = this.chart.addCandlestickSeries();
    }

    async loadDataAndCreateChart(ticker) {
        const dataValues = await this.fetchData(ticker);
        console.log("DataValues", dataValues);
        const candlestickData = this.mapDataToChartFormat(dataValues);

        if (candlestickData.length === 0) {
            console.error('No valid data to display.');
            return;
        }

        this.createChart();
        console.log("CandlestickData", candlestickData);
        this.candlestickSeries.setData(candlestickData);
    }
}

document.addEventListener('DOMContentLoaded', () => {
    // Create and load charts for different intervals
    const intervals = ['1min', '5min', '1hour', '1day'];
    intervals.forEach(interval => {
        const chart = new CandlestickChart(`chart${interval === '1min' ? 1 : interval === '5min' ? 2 : interval === '1hour' ? 3 : 4}`, interval);
        chart.loadDataAndCreateChart();
    });
});

async function fetchData(ticker, interval) {
        try {
            const response = await fetch(`/get_ticker_data/${interval}/${ticker}`);
            if (!response.ok) {
                console.error('Error fetching data:', response.statusText);
                return [];
            }
            const data = await response.json();
            console.log("This is the data received ", data);
            return data || []; // Adjust the key if needed
        } catch (error) {
            console.error('Error fetching data:', error);
            return [];
        }
    }


setInterval(async () => {
    const receivedData = await fetchData('TSLA', '1min');
    console.log("ReceivedData", receivedData);
}, 60000);

</script>

  -->

<script>
   
</script>

    
</body>
</html>
