<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data Dashboard</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include Tabulator CSS from CDN -->
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">

    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

    <style>
        #gainers-table, #active-table, #news_table {
            width: 100%;
        }

        .chart-container {
            width: 100%;
            height: 300px; /* Fixed height for testing */
        }
    </style>
</head>
<body class="bg-gray-400 text-gray-100 font-sans antialiased">
    <main class="p-2 flex h-screen">
        <section class="w-1/4">
            <!-- Gainers Table -->
            <div id="gainers-table" class="mb-2"></div>
            <!-- Active Stocks Table -->
            <div id="active-table" class="mb-2"></div>
            <!-- News Section -->
            <div class="bg-gray-800 p-6 rounded-lg shadow-lg space-y-6 max-h-96 overflow-y-auto max-w-400" id="news_table">
                <h3 class="text-2xl font-semibold mb-4 text-gray-100" id="news_title">News</h3>
                <ul id="news-container" class="list-disc pl-5 text-gray-300">
                    <!-- News items will be inserted here -->
                </ul>
            </div>
        </section>
        <section class="w-3/4 grid grid-cols-2 grid-rows-2 gap-4 ml-2 mr-2">
            <h3>5 minute interval</h3>
            <div id="chart1" class="chart-container p-2">
                <!-- 5-minute interval chart -->
            </div>
            <div id="chart2" class="chart-container p-2">
                <h3>1 minute interval</h3>
                <!-- 1-minute interval chart -->
            </div>
            <div id="chart3" class="chart-container p-2">
                <h3>1 day interval</h3>
                <!-- 1-day interval chart -->
            </div>
            <div id="chart4" class="chart-container p-2">
                <h3>10 second interval</h3>
                <!-- 10-second interval chart -->
            </div>
        </section>
    </main>

    <!-- Include Tabulator JS from CDN -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const gainersData = {{ gainers | tojson | safe }};
            const activeData = {{ active | tojson | safe }};

            // Initialize Gainers table
            new Tabulator("#gainers-table", {
                layout: "fitColumns",
                columns: [
                    { title: "Symbol", field: "symbol" },
                    { title: "Name", field: "name" },
                    { title: "Change", field: "change" },
                    { title: "Price", field: "price" },
                    { title: "% C", field: "changesPercentage", formatter: (cell, formatterParams, onRendered) => {
                        let row = cell.getRow();
                        let pc = cell.getValue();
                        row.getElement().style.color = "darkgreen";
                        return pc;
                    }},
                ],
                data: gainersData,
            }).on("rowClick", function(e, row) {
                get_news(row.getData().symbol);
            });

            // Initialize Active Stocks table
            new Tabulator("#active-table", {
                layout: "fitColumns",
                width: 400,
                columns: [
                    { title: "Symbol", field: "symbol" },
                    { title: "Name", field: "name" },
                    { title: "Price", field: "price" },
                    { title: "Change", field: "change" },
                    { title: "% C", field: "changesPercentage", formatter: (cell, formatterParams, onRendered) => {
                        let row = cell.getRow();
                        let pc = cell.getValue();
                        row.getElement().style.color = "darkgreen";
                        return pc;
                    }},
                ],
                data: activeData,
            }).on("rowClick", function(e, row) {
                get_news(row.getData().symbol);
            });
        });

        async function get_news(ticker){
            const response = await fetch(`/news/${ticker}`);
            const data = await response.json();

            const newsContainer = document.getElementById('news-container');
            newsContainer.innerHTML = '';
            const newsTitle = document.getElementById('news_title');
            newsTitle.innerHTML = `${ticker} News`;

            if (data.length === 0) {
                newsContainer.innerHTML = '<li class="mb-4">No news available</li>';
                return;
            }

            data.forEach(news_item => {
                const listItem = document.createElement('li');
                listItem.classList.add('mb-4');
                const link = document.createElement('a');
                link.href = news_item.url;
                link.target = '_blank';
                link.classList.add('text-blue-400', 'hover:underline');
                link.textContent = news_item.title;
                const summary = document.createElement('p');
                summary.classList.add('mt-1');
                summary.textContent = news_item.summary;
                listItem.appendChild(link);
                listItem.appendChild(summary);
                newsContainer.appendChild(listItem);
            });
        }

        </script>

<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script>
  class CandlestickChart {
    constructor(containerId) {
      this.containerId = containerId;
      this.chart = null;
      this.candlestickSeries = null;
      this.startPoint = null;
      this.isDragging = false;
      this.dragStartPoint = null;
      this.dragStartLineData = null;
      this.selectedPoint = null;
    }

    async fetchData() {
      try {
        const response = await fetch("/static/test.json");
        if (!response.ok) {
          console.error('Error fetching data:', response.statusText);
          return [];
        }
        const data = await response.json();
        return data['TSLA'].values; // Adjust the key if needed
      } catch (error) {
        console.error('Error fetching data:', error);
        return [];
      }
    }

    mapDataToChartFormat(dataValues) {
        return dataValues.map(bar => ({
            time: new Date(bar.datetime).getTime() / 1000, // Convert to UNIX timestamp
            open: parseFloat(bar.open),
            high: parseFloat(bar.high),
            low: parseFloat(bar.low),
            close: parseFloat(bar.close),
        })).filter(bar => bar.open !== null && bar.high !== null && bar.low !== null && bar.close !== null); // Filter out any null values
        }


        createChart() {
        this.chart = LightweightCharts.createChart(document.getElementById(this.containerId), {
            width: document.getElementById(this.containerId).offsetWidth,
            height: document.getElementById(this.containerId).offsetHeight,
            timeScale: {
            timeVisible: true,
            secondsVisible: true,
            },
            crosshair: {
            mode: LightweightCharts.CrosshairMode.Normal,
            },
        });

        this.candlestickSeries = this.chart.addCandlestickSeries();
        }
        
    async loadDataAndCreateChart() {
        const dataValues = await this.fetchData();
        const candlestickData = this.mapDataToChartFormat(dataValues);

        if (candlestickData.length === 0) {
            console.error('No valid data to display.');
            return;
        }

        this.createChart();
        console.log("Candlestickdata", candlestickData);
        this.candlestickSeries.setData(candlestickData);
        // this.setupChartInteractions();
        }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const chart = new CandlestickChart('chart1');
    chart.loadDataAndCreateChart();
  });
</script>

 
    
</body>
</html>
